/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	margin:0; padding:0;
}
a { text-decoration:none; color:#fff } hr { color:#361439; background-color:#361439; border-color:#361439; margin:10px 0 }
body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:14px; margin:0px; padding:0px; width:100%;
}

div#fond {
	position:fixed; width:100%; height:100%; z-index:-1;
	background-image:url(../img/bk-restaurant.jpg); 
	opacity:0.5;
}

	.bouton { 
		background-color:#97c00e; display:inline-block; padding:5px 10px; border-radius:10px; 
		box-shadow:1px 1px 2px 2px #5a5a5a; background:linear-gradient(to bottom, #97c00e 0%,#77a000 100%);
		cursor:pointer;
	}
	.bouton:active { 
		background:#579000;
	}

#list_cat { background:#361439 url(../img/fond-bloc.png) repeat-x top center; height:10px; padding-top:10px; }
#list_cat>section { float:left; height:90px; }
#list_cat li.big-entry {
	float:left; margin:0 10px 0 10px; display:inline-block; min-width:100px; text-align:center; padding:15px 7px 20px 7px; background:#361439 url(../img/fond-bloc.png) repeat-x bottom center; list-style:none; color:#fff;
}
#list_cat li.big-entry.current { padding:25px 10px 45px 10px; font-weight:bold; background:url(../img/fond-current.png) no-repeat bottom right; }

#list_sscat { float:left; width:20%; }
#list_sscat>ul {
	list-style:none; position:relative;
}
	#list_sscat .big-entry {
		color:#fff;	margin:5px 5px 5px 0; position:relative;
		background:#361439;
/*	    background: linear-gradient( #361439, #563459);*/
		padding:15px 0px 15px 10px;
	}
	
	#list_sscat .bouton { padding:5px; margin:0 5px; }
	#list_sscat .current .bouton { background:#579000 }
	
	.cell-btn { width:20px }
	.prix { width:50px; text-align:center; font-weight:bold; border-left:1px dashed #fff; border-right:1px dashed #fff; padding:5px 10px;  }

#content {
	width:100%; min-height:400px;
}
	#content>div { width:75%; }
	#content #list_produit { float:left; margin-left:3%; }
	#content #list_photo { width:800px; height:700px; }

table { width:100% }
	#list_produit .cell-btn .bouton { width:40px; height:40px; border-radius:40px; padding:0; text-align:center; line-height:40px; color:#fff; font-size:1.5em }
	#list_produit td {  background:rgba(54,20,57,1); color:#fff; padding:10px; font-size:1.2em }
	#list_produit td.prix {  border:0; width:70px }
	#list_produit .saut td { background:none; text-align:center; font-weight:bold; color:#341439; padding:0px; color:#fff }
	#list_produit .ou td { padding:0; background:none }
	#list_produit .ou div { width:20%; background:#361439; text-align:center; font-weight:bold; font-style:italic; margin:auto }
	#list_produit em { font-size:0.8em }
	#list_produit .desc {text-align: center; } 
	#list_produit .descTop {font-size:.95em; } 
li.big-entry:active {
     background: #666;
     background: linear-gradient( #aaa, #8C8C8C);
     box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba( 255, 255, 255, 0.4); 
}
li.big-entry:active img { opacity:0.6 }

#list_photo { position:fixed; top:10px; right:-900px; background:linear-gradient(to bottom, #97c00e 0%,#77a000 100%); border:1px solid #fff; box-shadow:0px 0px 15px #333; }
#list_photo>#list_big { height:600px; }
#list_photo>#list_big>div { display:none }
#list_photo>#list_big>div.phBig>div { position:absolute; }
#list_photo>#list_big div.big1 { z-index:3 } #list_photo>#list_big div.big2 { z-index:2 } #list_photo>#list_big div.big3 { z-index:1 }
#list_photo img { max-width:100%; max-height:100%; }
#list_photo>#titre { float:left; height:90px; width:40%; margin:0 5%; }
#list_photo>#titre td { text-align:center; color:#fff; font-weight:bold; height:100px; }
#list_photo>#list_thb { height:90px; text-align:center }
#list_photo>#list_thb img { margin:5px; color:#fff; font-weight:bold;}

#list_photo #refermePh { position:absolute; left:-60px; top:40px; background:#fff; width:60px; height:60px; box-shadow:-4px 0px 10px #666 }
#list_photo #refermePh>div { color:#fff; margin:10px; height:40px; width:40px; padding:0; text-align:center; line-height:40px; border-radius:40px; font-size:1.5em; }

footer { color:#fff; border-top:1px solid #fff; margin:2% auto; padding:10px; text-align:center; font-size:.9em; line-height:50px; }
.terre { width:50px; height:50px; background:url(../img/terre.jpg) no-repeat; padding:0; border-radius:25px; float:left; }
.notme { opacity:.6; transition: opacity 0.4s ease; } .notme:hover { opacity:.8 }
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) { .app { background-position:left center; padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */ margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */ /* offset horizontal: half of image width and text area width */ } }
.hide { display:none; }
@keyframes fade {from { opacity: 1.0; } 50% { opacity: 0.4; } to { opacity: 1.0; } }
@-webkit-keyframes fade { from { opacity: 1.0; } 50% { opacity: 0.4; } to { opacity: 1.0; } }
.blink { animation:fade 3000ms infinite; -webkit-animation:fade 3000ms infinite; }